FLOCI_GCP_ENDPOINT=http://localhost:4578
FLOCI_GCP_PROJECT=test-project
PUBSUB_EMULATOR_HOST=localhost:4578
FIRESTORE_EMULATOR_HOST=localhost:4578
DATASTORE_EMULATOR_HOST=localhost:4578
STORAGE_EMULATOR_HOST=http://localhost:4578
